@import 'src/styles/main';

.project-card {
  margin-top: 1%;
  margin-bottom: 5%;
  width: 75%;

  & .container-img {
    & div {
      @extend .padrao_container_img;
      width: 100%;
      min-height: 34vh;
      max-height: 34vh;

      & img {
        margin-left: 20%;
        width: 100%;
      }
    }
  }

  opacity: 20%;
  margin-left: -30%;
  @include slide-animation(0, 0.5s, 0s)
}

.container-content {
  @include flex(row);
  align-items: stretch;
  margin-top: 2%;
  justify-content: space-between;

  & .description {
    text-align: justify;
    width: 69%;
    & h1 {
      font-size: 40px;
      line-height: 30px;
    }

    & p {
      margin-top: 3%;
    }

    opacity: 0;
    margin-left: -10%;
    @include slide-animation(0, 0.5s, 0.3s)
  }

  & .stacks-link {
    width: 29%;
    @include flex(column);

    & .link {
      width: 100%;
      @include flex(row);
      justify-content: space-between;
      text-align: center;

      & a {
        @include flex(column_center);
        background-color: black;
        color: white;
        width: 48%;
        height: 35px;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }

    & .stacks {
      width: 100%;
      @include flex(row);
      flex-wrap: wrap;
      justify-content: space-between;

      & div {
        @include flex(column_center);
        width: 48%;
        height: 32px;
        background-color: white;
        overflow: hidden;
        margin-top: 4%;
        opacity: 80%;
      }

      & img {
        height: 100%;
      }
    }
  }
}