@import 'main';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main_color;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}

h1 {
  font-family: 'Red Hat Display';
  font-weight: 100;
}

h2 {
  font-family: 'Red Hat Display';
  font-weight: 100;
}

h3 {
  font-family: 'Red Hat Display';
  font-weight: 200;
}

p {
  font-weight: 100;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.156);
}