.navBackground {
  position: fixed;
  width: 24%;
  margin-left: -24%;
  opacity: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  animation: iniciarBackround 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.nav {
  perspective: 70px;
  perspective-origin: 0 45vh;
}

.itemOption {
  border: none;
  height: 10%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.itemOption:hover {
  background-color: black;
  color: white;
  animation: atv 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.container {
  height: 80%;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes iniciarBackround {
  to {
    margin-left: 0;
    opacity: 100%;
  }
}

.true {
  background-color: rgb(157, 191, 189);
  color: white;
}

.true::after {
  position: fixed;
  z-index: -10;
  content: '';
  width: 24%;
  height: 8%;
  left: 0%;
  background-color: white;
  animation: atv 1s;
  animation-fill-mode: forwards;
}

@keyframes atv {
  to {
    background-color: rgb(157, 191, 189);
  }
}