.navBackground {
  position: fixed;
  width: 24%;
  margin-left: -24%;
  opacity: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  animation: iniciarBackround 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.nav {
  perspective: 70px;
  perspective-origin: 0 45vh;
}

.itemOption {
  border: none;
  height: 10%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.itemOption:hover {
  background-color: black;
  color: white;
  animation: atv 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.container {
  height: 95%;
  width: 95%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container button {
  height: 9%;
}

@keyframes iniciarBackround {
  to {
    margin-left: 0;
    opacity: 100%;
  }
}

.button-group input{
  display: none;
}

.button-group input:checked + label,
.button-group input:checked + label:active {
  background-color: rgb(157, 191, 189);
  color: black;
}

.button-group label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}