/* Container geral da pagina */
.container_oqs {
  width: 90%;
  align-self: flex-start;
  display: flex;
  margin-left: -5%;
  opacity: 10%;
  justify-content: center;
  animation: introContainer_oqs 0.5s ease forwards;
}

/* Container onde contem todo conteudo da pagina  */
.container_info_oqs {
  width: 75%;
}

/* Quadro onde fica a imagem do avagatar */
.card_img {
  background-color: white;
  width: 100%;
  height: 27vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card_img img {
  height: 120%;
  opacity: 10%;
  margin-left: -50%;
  animation: introImg_oqs 0.5s ease forwards;
}

.card_img::before {
  z-index: 400;
  content: '';
  width: 100px;
  background-color: white;
  height: 100%;
  position: relative;
  left: -60%;
  animation: barraBrancaParaCorrigirImg 0.5s ease forwards;
}

.card_img::after {
  content: '';
  width: 100px;
  background-color: white;
  height: 100%;
  position: relative;
  left: -1%;
}


/* Container onde fica os certificados */
.container_certificate {
  font-size: 25px;
  position: fixed;
  overflow-y: scroll;
  opacity: 80%;
  top: 0;
  left: 80%;
  height: 100%;
  animation: introCertificado 0.5s 0.1s ease forwards;
}

.container_certificate img {
  margin-bottom: 30px;
}

/* Animacao css */
@keyframes introContainer_oqs {
  to {
    margin-left: 5%;
    opacity: 100%;
  }
}

@keyframes introImg_oqs {
  to {
    opacity: 100%;
    margin-left: 0;
  }
}

@keyframes barraBrancaParaCorrigirImg {
  to{
    left: 1%;
  }
}

@keyframes introCertificado {
  /* 50% {
    left: 90%;
    opacity: 50%;
  } */
  to {
    left: 90%;
    opacity: 2%;
  }
}