/* Container geral da pagina */
.container_oqs {
  width: 90%;
  align-self: flex-start;
  display: flex;
  margin-left: -5%;
  opacity: 10%;
  justify-content: center;
  animation: introContainer_oqs 0.5s ease forwards;
}

/* Container onde contem todo conteudo da pagina  */
.container_info_oqs {
  width: 75%;
}

/* Quadro onde fica a imagem do avagatar */
.card_img {
  background-color: white;
  width: 100%;
  height: 27vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card_img img {
  height: 120%;
  opacity: 10%;
  margin-left: -50%;
  animation: introImg_oqs 0.5s ease forwards;
}

.card_img::before {
  z-index: 400;
  content: '';
  width: 100px;
  background-color: white;
  height: 100%;
  position: relative;
  left: -60%;
  animation: barraBrancaParaCorrigirImg 0.5s ease forwards;
}

.card_img::after {
  content: '';
  width: 100px;
  background-color: white;
  height: 100%;
  position: relative;
  left: -1%;
}


/* Container onde fica os certificados */
.container_certificate {
  font-size: 25px;
  position: fixed;
  overflow-y: scroll;
  opacity: 80%;
  top: 0;
  left: 75%;
  height: 100%;
  animation: introCertificado 1s ease forwards;
}

.container_certificate img {
  margin-bottom: 30px;
}

.show {
  z-index: 410;
  font-size: 25px;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 55%;
  opacity: 20%;
  height: 100%;
  animation: introShow 0.5s ease forwards;
}

.show h2 {
  margin-top: 10%;
  color: white;
}

.show::before {
  right: 0;
  position: fixed;
  content: '';
  z-index: -1;
  width: 76%;
  height: 100vh;

  animation: introBlur 0.5s ease forwards;
}

.close_b_certificate {
  top: 0;
  right: 9.6%;
  z-index: 500;
  position: fixed;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 40px;
  margin-top: 4.5%;
  background-color: transparent;
}

.invisible {
  visibility: hidden;
  z-index: 0;
}

/* Animacao css */
@keyframes introContainer_oqs {
  to {
    margin-left: 5%;
    opacity: 100%;
  }
}

@keyframes introImg_oqs {
  to {
    opacity: 100%;
    margin-left: 0;
  }
}

@keyframes barraBrancaParaCorrigirImg {
  to{
    left: 1%;
  }
}

@keyframes introCertificado {
  to {
    left: 98%;
    opacity: 50%;
  }
}

@keyframes introShow {
  to {
    opacity: 100%;
    left: 41%;
  }
}

@keyframes introBlur {
  to {
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    background-color: rgba(24, 24, 24, 0.734);
  }
}