.page {
  position: absolute;
  margin-top: 1.2vh;
  width: 75%;
  margin-left: 24.5%;
  height: 97.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {

  display: flex;

  flex-direction: column;
  align-items: center;


  margin-top: 5%;

  z-index: 200;
  width: 50%;
  height: 80vh;
  position: absolute;

  border-radius: 5px;

  box-shadow: 0 0 130px 20px rgba(0, 0, 0, 0.312);
}