.box {
  width: 100%;
  height: 100vh;
  justify-content: start;
}

.quadro {
  width: 60%;
  height: 28%;
  
  overflow: hidden;
  margin-left: -20%;

  background-color: white;

  opacity: 30%;
  animation-name: iniciarCircle;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box h1 {
  align-self: flex-start;
  margin-left: 23%;
  font-size: 70px;
}

.text {
  margin-top: 5%;
  width: 50%;
}

.avatar {
  width: 40%;
  opacity: 40%;

  animation-name: iniciarAvatar;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes iniciarAvatar {
  to {
    margin-left: 36%;
    opacity: 100%;
  }
}

@keyframes iniciarCircle {
  to {
    margin-left: 0;
    opacity: 100%;
  }
}