@import 'src/styles/main';

.itemOption {
  border: none;
  height: 9%;
  width: 100%;
  background-color: $back-color;
  color: black;
  cursor: pointer;
  
  &:hover {
    background-color: $hover-color;
    color: black;
  }
}