@import 'src/styles/main';

.container_qes {
  @extend .page;

  & .container_img {
    @extend .padrao_container_img;
    margin-left: -30%;
    opacity: 10%;
    @include slide-animation(0, 0.5s, 0s);

    & img {
      margin-left: 24%;
      opacity: 0%;
      @include slide-animation(48%, 0.5s, 0.2s);
    }
  }

  & .switch {
    border: none;
    border-style: none;
    background-color: black;
    color: white;
    width: 45.3%;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
}

.container_text {
  width: 60%;
  text-align: justify;
  margin-left: -20%;
  opacity: 0%;
  @include slide-animation(0, 0.5s, 0.4s);

  & h1 {
    font-size: 70px;
  }

  & p {
    margin-top: 4%;
  }

  & .mark {
    a {
      color: rgb(224, 45, 45);
    }
  }
}