@import 'src/styles/main';

main {
  @include flex(column_center);
  top: 0;
  padding: 20px;
  position: absolute;
  background-color: $back-color;
  width: 60%;
  height: 89vh;
  
  & div {
    width: 100%;
    @include flex(column_center);
    
    & input {
      width: 100%;
      border: none;
      margin-top: 5%;
      height: 30px;
      border-style: none;
    }
  }
  
  & button {
    height: 30px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    margin-top: 5%;
  }
}