@import 'src/styles/main';

.intro {
  @include flex(column);
  justify-content: space-evenly;
  background-color: $neutral_color;
  position: fixed;
  width: 50%;
  height: 95%;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);

  .container_img {
    @include flex(column);
    width: 100%;
    height: 45vh;
    overflow-y: hidden;
    & img {
      width: 59%;
    }
  }

  .container_content {
    @include flex(column);
    justify-content: space-evenly;
    width: 100%;
    height: 45vh;
  }

  animation: intro 1.5s 4.5s forwards;
}
