.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadro {
  width: 60%;
  height: 27vh;
  
  overflow: hidden;
  margin-left: -20%;

  background-color: white;

  opacity: 30%;
  animation-name: iniciarCircle;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.text h1 {
  font-size: 70px;
}

.text {
  margin-bottom: 5%;
  width: 55%;
  margin-left: -40%;
  opacity: 0%;
  animation: iniciar_text 0.5s 0.1s 1 forwards;
}

.text p {
  margin-top: 4%;
}

.avatar {
  width: 40%;
  opacity: 40%;

  animation-name: iniciarAvatar;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes iniciarAvatar {
  to {
    margin-left: 36%;
    opacity: 100%;
  }
}

@keyframes iniciarCircle {
  to {
    margin-left: 0;
    opacity: 100%;
  }
}

@keyframes iniciar_text {
  to {
    opacity: 100%;
    margin-left: 0;
  }
}