@import 'src/styles/main';

.container_nav {
  position: fixed;
  top: 0;

  @include flex(column_center);
  width: 24%;
  height: 100%;
  background-color: $neutral_color;

  margin-left: -30%;
  opacity: 20%;
  animation: nav_bar 1s 4s forwards
}

.container_itens {
  @include flex(column);
  height: 94vh;
  width: 100%;
  justify-content: space-evenly;

  & input {
    display: none;
    &:checked + label,
    &:checked + label:active {
      background-color: $main_color;
      color: black;
    }
  }

  & label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
