@import 'src/styles/main';

.form {
  background-color: white;
  position: absolute;
  width: 60%;
  height: 95vh;
  margin-top: 2.5vh;
  @include flex(column);

  & .close {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    font-size: 30px;
    color: white;
    background-color: black;
  }

  & .image-container {
    width: 100%;
    @include flex(column);

    & .image-card {
      width: 100%;
      @include flex(row);
      justify-content: space-evenly;

      & label {
        width: 47%;

        & input {
          text-align: center;
          width: 100%;
          border: none;
          outline: none;
          height: 30px;
          background-color: rgb(239, 239, 239);
        }
      }
    }
  }

  & .text-container {
    width: 96%;

    & textarea {
      outline: none;
      border: none;
      resize: none;
      background-color: rgb(239, 239, 239);
      width: 95%;
      height: 60vh;
      padding: 2.5% 2.5%;
      font-family: 'Red Hat Text';
    }
  }

  & .submit {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    border: none;
    background-color: black;
    color: white;
  }
}