* {
  font-family: 'Red Hat Display', BlinkMacSystemFont, 'Segoe UI';
  margin: 0;
  padding: 0;
}

.displayFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(157, 191, 189);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}

h3 {
  font-weight: 100;
  font-size: 15px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-weight: 100;
}

h2 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 2px;
}