* {
  margin: 0;
  padding: 0;
}

.displayFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  /* background-image: url('./midia/bac.jpg'); */
  /* background-color: #afdcc8; */
  background-color: rgb(157, 191, 189);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}

/* .blur {
  -webkit-backdrop-filter: blur(70px);
  backdrop-filter: blur(70px);
  background-color: rgba(255, 255, 255, 0.259);
} */

h3 {
  font-weight: 100;
  font-size: 15px;
}

p {
  font-weight: 300;
  font-size: 15px;
}

h1 {
  font-weight: 100;
}