@import 'src/styles/main';

.container_oqs {
  @extend .page;
  width: 72%;

  & .container_img {
    @extend .padrao_container_img;
    margin-left: -30%;
    opacity: 10%;
    @include slide-animation(0, 0.5s, 0s);

    & img {
      margin-left: 24%;
      opacity: 0%;
      @include slide-animation(48%, 0.5s, 0.2s);
    }
  }

  & .sub_container {
    width: 60%;
    margin-left: -20%;
    opacity: 0%;
    @include slide-animation(0, 0.5s, 0.4s);

    & h1 {
      margin-top: 10px;
      font-size: 50px;
    }

    & p {
      margin-top: 5px;
      text-align: justify;
    }

    & .skils {
      margin-top: 15px;
      margin-bottom: 40px;
    }
  }
}

.container_certificate {
  @include flex(column);
  justify-content: start;
  align-items: flex-start;
  position: fixed;
  left: 97%;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.333);

  & h2 {
    font-size: 40px;
    color: white;
    margin-left: 30px;
  }

  & a {
    margin-left: 30px;
    margin-top: 50px;
  }

  &:hover {
    animation: intro_certificates 0.5s forwards;
  }
}
