.inIntro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin-top: 10%;
}

.inIntro img {
  width: 45px;
}

.inApp {
  position: relative;
  bottom: 0;
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  opacity: 80%;
}

.inApp img {
  width: 40px;
}

.email {
  position: fixed;
  background-color: white;
  bottom: 8%;
}