@import 'src/styles/main';

.inIntro {
  @include flex(row);
  width: 50%;
  justify-content: space-evenly;
  margin-bottom: 20px;
  & img {
    width: 35px;
  }
}

.inApp {
  margin-top: 2%;
  @include flex(row);
  justify-content: space-evenly;
  opacity: 80%;
  width: 35%;

  & img {
    width: 40px;
  }
}

.email {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 8%;
  padding: 20px;

  & p {
    position: relative;
    color: red;
    margin-left: 95%;
    font-size: 25px;
  }
}