@import 'src/styles/main';

.project-card {
  margin-top: 1%;
  margin-bottom: 10%;
  width: 75%;

  & .container-img {
    & div {
      @extend .padrao_container_img;
      width: 100%;
      min-height: 34vh;
      max-height: 34vh;

      & img {
        margin-left: 20%;
        width: 100%;
      }
    }
  }

  & .configButtons {
    @include flex(row);
    justify-content: end;

    & button {
      width: 24%;
      margin-left: 1%;
      border: none;
      height: 30px;
      background-color: black;
      color: white;
    }
  }
}

.container-content {
  @include flex(row);
  align-items: stretch;
  justify-content: space-between;

  & .mark {
    width: 69%;
    opacity: 0;
    margin-top: 1%;
    margin-left: -10%;
    @include slide-animation(0, 0.5s, 0.5s);
  }

  & .stacks-link {
    margin-top: 2%;
    width: 29%;
    @include flex(column);

    & .link {
      width: 100%;
      @include flex(row);
      justify-content: space-between;
      text-align: center;

      & a {
        @include flex(column_center);
        background-color: black;
        color: white;
        width: 48%;
        height: 35px;

        &:hover {
          background-color: $hover-color;
          color: black;
        }
      }

      opacity: 0;
      margin-left: -50%;
      @include slide-animation(0, 0.5s, 0.15s)
    }

    & .stacks {
      width: 100%;
      @include flex(row);
      flex-wrap: wrap;
      justify-content: space-between;

      & div {
        @include flex(column_center);
        width: 22%;
        height: 35px;
        background-color: $back-color;
        overflow: hidden;
        margin-top: 4%;
      }

      & img {
        height: 80%;
      }

      opacity: 0;
      margin-left: -50%;
      @include slide-animation(0, 0.5s, 0.3s)
    }
  }
}